<!doctype html>
<html>
<head>
    <title>E-biblioteka - Autori</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style_korisnik.css'>
</head>
<body>

<nav class="navbar">
    <span class="open-slide">
      <a href="#" onclick="openSlideMenu()">
        <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
            <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
            <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
        </svg>
      </a>
    </span>
    <ul class="navbar-nav">E-biblioteka - Autori</ul>
</nav>

<div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="/k_knjige" style=" font-size: 20px;"><i class='fas fa-book-open text-white'></i>&nbsp; Knjige</a>
    <a href="/k_autori" style="color: white; font-weight: bold; font-size: 20px;"><i class="fas fa-pencil-alt text-white"></i>&nbsp; Autori</a>
    <a href="/k_logout" style="font-size: 20px;"><i class="fas fa-sign-out-alt"></i>&nbsp; Odjavi se</a>
</div>


<div class="container">
    <div class="row my-3 justify-content-end">
    </div>
    <div class='table-responsive-sm pl-5 pt-5'>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Ime i prezime</th>
                <th scope="col">Godina rođenja</th>
                <th scope="col">Mesto rođenja</th>
                <th scope="col">Država</th>
            </tr>
            </thead>
            <% data.forEach(function(i) { %>
                <tbody>
                <tr>
                    <td><a style="font-weight: bold; color: #008ae6;" href="/k_knjige_autora/<%= i.id%>"><%= i.ime_prezime%></a></td>
                    <td><%= i.godina_rodjenja%></td>
                    <td><%= i.mesto_rodjenja%></td>
                    <td><%= i.drzava%></td>
                </tr>
                </tbody>
            <% }) %>
        </table>
    </div>
</div>


<script type="text/javascript" src="javascripts/korisnik_script.js"></script>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>


